<h4>Networking</h4>
		Enter the amount of network bandwidth you currently consume in your on-premises environment.

<div id="network">
	<th>Outbound Bandwidth</th>
	<tr>
		<td>
			<%= number_field_tag 'bandwidth'%>
			<%= select_tag 'bandwidth_type' , options_for_select(["TB","GB"])%>
		</td>
	</tr>
</div>