.row {
    display:flex;
    flex-wrap: wrap;
}

.col-1 {
	width: 8.33%;
    box-sizing: border-box;
    padding: 10px 15px;
}

.col-2{
	width: 16.66%;
    box-sizing: border-box;
    padding: 10px 15px;
}
.col-25{
	width: 20%;
    box-sizing: border-box;
    padding: 10px 15px;
}
.col-3{
	width: 25%;
    box-sizing: border-box;
    padding: 10px 15px;
}
.col-4{
	width: 33.33%;
    box-sizing: border-box;
    padding: 10px 15px;
}
.col-5{
	width: 41.66%;
    box-sizing: border-box;
    padding: 10px 15px;
}
.col-6{
	width: 50%;
    box-sizing: border-box;
    padding: 10px 15px;
}
.col-7{
	width: 58.33%;
    box-sizing: border-box;
    padding: 10px 15px;
}
.col-8{
	width: 66.66%;
    box-sizing: border-box;
    padding: 10px 15px;
}
.col-9{
	width: 75%;
    box-sizing: border-box;
    padding: 10px 15px;
}
.col-10{
	width: 83.32%;
    box-sizing: border-box;
    padding: 10px 15px;
}
.col-11{
	width: 91.66%;
    box-sizing: border-box;
    padding: 10px 15px;
}
.col-12{
	width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
}


.justify-spc-btwn {
    justify-content: space-between
}

.justify-center {
    justify-content: center;
}
.justify-start {
    justify-content: flex-start;
}
.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.fwrap {
    flex-wrap: wrap;
}

@media screen and (max-width:990px){
    .col-3{
        width: 50%;
    }
}


@media screen and (max-width:767px){
    .col-3{
        width: 50%;
    }
}

@media screen and (max-width:480px){
    .col-3{
        width: 100%;
    }
}