@import './variables';

@media  (max-width:$laptop){
  .global-sec .col-4,.why-us .col-4{
      width: 50%;
  }
}
@media  (max-width:$tablet){
    .feature-block .col-3,.footer-top .col-4{
        width: 50%;
    }
  }
  @media  (max-width:$mobile){
    .col-4,.col-3{
        width: 100% !important;
    }
    .feature-section .feature-block li {
        padding: 0px 0px 15px 0px;
    }
  }