$body-bg-color:#333;
$text-color:#5f6368;
$font-size:10px;
$font-family: 'Open Sans', sans-serif;
$white:#fff;
$blue: #00a9e5; //#04b0f1
$border-color:#e5e5e5;
$dark-blue:#002f70 ; //#276587
$black:#000;
$red:#ba1e2c;
$lgrey:#fbfbfb;
$lpurple:#002f700d;
$gredient:linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
$laptop:1024px;
$tablet:767px;
$mobile:480px;
$br-20:20px;